<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>KHO PHIM VIET | TRANG WEB UY TIN TAI VIET NAM</title>
	<base href="/">
	<!-- Latest compiled and minified CSS -->
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="copyright" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="" />
	<meta name="geo.region" content="VN-CT" />
	<meta name="geo.placename" content="Cần Thơ" />
	<meta name="geo.position" content="10.028089;105.770886" />
	<meta name="ICBM" content="10.028089, 105.770886" />
	<meta name="dc.description" content="">
	<meta name="dc.keywords" content="">
	<meta name="dc.subject" content="">
	<meta name="dc.created" content="2017-04-19">
	<meta name="dc.publisher" content="">
	<meta name="dc.creator.name" content="">
	<meta name="dc.identifier" content="">
	<meta name="dc.rights.copyright" content="">
	<meta name="dc.language" content="vi-VN">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/loading.css">
</head>

<body>
	<app-root>Loading...</app-root>
	<script type="text/javascript" src="inline.bundle.js"></script><script type="text/javascript" src="polyfills.bundle.js"></script><script type="text/javascript" src="scripts.bundle.js"></script><script type="text/javascript" src="styles.bundle.js"></script><script type="text/javascript" src="vendor.bundle.js"></script><script type="text/javascript" src="main.bundle.js"></script></body>
	<script type="text/javascript" src="js/loading.js"></script>
	</html>